# Diretórios gerados pelo PyInstaller
build/
dist/

# Arquivo de especificação do PyInstaller
*.spec

# Executável gerado
*.exe

# Arquivos temporários e cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais (caso use)
env/
venv/
ENV/
.venv/

# Arquivos do VS Code (se usar)
.vscode/
